In [1]:
#create table
import mysql.connector
db =mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="msit"
)

mysql_query= db.cursor()
mysql_query.execute("CREATE TABLE customers_STUDENTS(id INT AUTO_INCREMENT PRIMARY KEY,name VARCHAR(255),address VARCHAR(255), email VARCHAR(100),GENDER TEXT(50))")
print("Table Created Successfully")

ProgrammingError: 1050 (42S01): Table 'customers_students' already exists

In [1]:
#Data Insert in Table 
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="msit"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers_51 (name, address) VALUES (%s, %s)"
a=str(input("Enter your name ->"))
b=str(input("Enter your address ->"))
val = (a,b)
mycursor.execute(sql, val)
sql_2 = "INSERT INTO customers_students (name, address,email,gender) VALUES (%s, %s, %s ,%s)"
a=str(input("Enter your name ->"))
b=str(input("Enter your address->"))
c=str(input("Enter your email ->"))
d=str(input("Enter your gender ->"))
val_2 = (a,b,c,d)
mycursor.execute(sql_2, val_2)


mydb.commit()

print(mycursor.rowcount, "record inserted.")

InterfaceError: 2003: Can't connect to MySQL server on 'localhost:3306' (10061 No connection could be made because the target machine actively refused it)

In [18]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="msit"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers_51")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(2, 'Supriyo', 'Kolkata', None)
(3, 'Supriyo', 'Kolkata', None)
(4, 'Soham Das', 'Kolkata', None)

In [27]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="msit"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers_students WHERE gender ='Male'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'Test1', 'addressTest', 'test@gmail.com', 'Male')
(2, 'Supriyo', 'Kolkata', 'supriyo@gmail.com', 'Male')
(3, 'Soham Das', 'Kolkata', 'soham@gmail.com', 'Male')

In [28]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="msit"
)

mycursor = mydb.cursor()

sql = "DELETE FROM customers_students WHERE address = %s"
adr = ("Kolkata", )


mycursor.execute(sql, adr)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

2 record(s) deleted

In [ ]:
pip install mysql-connector

In [1]:
pip install mysql-Connector

Requirement already satisfied: mysql-Connector in c:\users\supri\appdata\local\programs\python\python311\lib\site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.